{% load static %}
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Generator</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>

    <h1>Password Generator</h1>

    <label for="length">Password length:</label>
    <input type="number" id="length" value="12" min="4" max="32">
    <div>supported password length (4-32)</div>

    <div class="exit">
        <a href="{% url 'main-page' %}">Exit</a>
    </div>

    <br>
    <button onclick="generatePassword()">Generate Password</button>

    <p id="password">Your password will appear here</p>


    <div id="kontenerListy">
        <ul id="mojaLista" class=""></ul>
    </div>
    <script>
        function generatePassword() {
            let length = document.getElementById('length').value;
            fetch(`/api/generate-password/?length=${length}`)
                .then(response => response.json())
                .then(data => {
                    document.getElementById('password').innerText = data.password;
                    dodajElement(data.password);
                })
                .catch(error => console.error('Błąd:', error));
        }

        const mojaLista = document.getElementById("mojaLista");
        let licznikID = 1;

        function dodajElement(zmienna1, zmienna2) {
            const nowyElement = document.createElement("li");
            nowyElement.id = `element-${licznikID}`;
            nowyElement.textContent = `${licznikID}. ${zmienna1}`;
            mojaLista.appendChild(nowyElement);
            licznikID++;
}
    </script>

</body>
</html>
