{% load static %}
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Generator</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <h1>Password Generator</h1>

    <label for="length">Password length:</label>
    <input type="number" id="length" value="12" min="4" max="32">
    <div>supported password length (4-32)</div>

    <div class="exit">
        <a href="{% url 'main-page' %}">Exit</a>
    </div>
    <br>

    <button onclick="generatePassword()">Generate Password</button>

    <p id="password">Your password will appear here</p>

    <div id="listContainer">
        <ul id="mojaLista" class=""></ul>
    </div>

    <script>
        const myList = document.getElementById("mojaLista");
        let licznikID = 1;
        function generatePassword() {
        let length = document.getElementById('length').value;
        fetch(`/api/generate-password/?length=${length}`)
            .then(response => response.json())
            .then(data => {
                document.getElementById('password').innerText = data.password;
                addElement(data.password);
            })
            .catch(error => console.error('Błąd:', error));
}
        function addElement(variable1, variable2) {
            const newElement = document.createElement("li");
            newElement.id = `element-${licznikID}`;
            newElement.textContent = `${licznikID}. ${variable1}`;
            myList.appendChild(newElement);
            licznikID++;
}
    </script>
</body>
</html>
